// =========================================
// Colors
// =========================================

$color-primary: #DF4F51;
$color-secondary: #9551C8;
$color-tertiary: #67D7F0;
$color-background: #fff;
$color-border: #eee;
$color-field-background: #f3f3f3;
$color-body: #666;
$color-headings: #58595B;
$border-color: #dee2e6;

// =========================================
// Typography
// =========================================

$font-family-roboto:          'Roboto', sans-serif;
$font-family-rajdhani:        'Rajdhani', sans-serif;

$font-body: $font-family-rajdhani;
$font-headings: $font-family-roboto;

// =========================================
// Media Queries
// =========================================

$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 1024px,
  lg: 1200px
);
